@page
@model Kurs.Pages.Articles.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Delete</h1>

<h3>Вы уверены, что хотите удалить эту статью?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Categoru)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Categoru)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Text)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Article.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку статей</a>
    </form>
</div>
