@page
@model Kurs.Pages.Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Article.Title)</h1>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Article.Categoru)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Article.Categoru)
        </dd>
</dl>
<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Text)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.Article?.Id">Edit</a> |*@
    <a asp-page="./Index">Вернуться к списку статей</a>
</div>
